
.mytable1 {
    border-collapse: collapse;
}

.mytable1 td {
    color: orange;
        border: 1px solid black;
        font-size: 20px;
}

#testname {
    border: 1px solid black;
}

#test-image-preview {
    width: 500px;
    height: 500px;
    border: 1px solid #ff0000;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 50px 50px;
}
.wp {
    display: flex;
    justify-content: center;
    align-items: center;
}
strong {
    color: aqua
}